<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ .title }}</title>
</head>
<body>
  <ul id="list"></ul>
  <input id="input-name" type="text" name="name">
  <button onclick="submit()">Submit</button>
  <script>
    if (document.readyState !== 'loading') {
      init()
    } else {
      document.addEventListener('DOMContentLoaded', init)
    }

    function init () {
      getList()
    }

    function getList () {
      window.fetch('/api/player')
        .then(res => res.json())
        .then(res => {
          const list = res
          const listEl = document.getElementById('list')
          list.forEach(l => {
            const itemEl = document.createElement('li')

            const nameEl = document.createElement('span')
            nameEl.innerText = l.name
            nameEl.style.cursor = 'pointer'
            nameEl.addEventListener('click', e => {
              window.location.href = `/player/${l.id}`
            })
            itemEl.appendChild(nameEl)

            const removeButton = document.createElement('button')
            removeButton.innerText = 'Remove'
            removeButton.addEventListener('click', e => {
              remove(l.id)
            })
            itemEl.appendChild(removeButton)

            listEl.appendChild(itemEl)
          })
        })
        .catch(e => console.log(e))
    }

    function remove (id) {
      window.fetch(`/api/player/${id}`, {
        method: 'DELETE'
      })
      .then(res => res.json())
      .then(res => window.alert('Removed Successfully'))
      .catch(e => console.log(e))
    }

    function submit () {
      const body = {
        name: document.getElementById('input-name').value
      }
      window.fetch('/api/player', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(body)
      })
      .then(res => res.json())
      .then(res => window.alert('Submitted Successfully'))
      .catch(e => console.log(e))
    }
  </script>
</body>
</html>